.box {
  @apply flex flex-col flex-wrap items-stretch;
  width: 320px;
  font-size: 18px;
  background-color: #111111dd;
  padding: 6px 12px;
  text-transform: uppercase;
  border-radius: 0.3em;
}

.box.spectating {
  background-color: #ffffffdd;
}

.box.blue.spectating {
  color: #007be6dd;
  box-shadow: 0 0 8px 2px #3b79ffdd;
}
.box.orange.spectating {
  color: #d04a07dd;
  box-shadow: 0 0 8px 2px #ffa44add;
}

.player-name-boost {
  @apply flex w-full justify-between gap-x-2;

  font-family: "JetBrains MonoVariable";
  font-weight: 800;
}

.player-name-boost .boost {
  min-width: 3ch;
}
.blue .player-name-boost .boost {
  text-align: right;
}
.orange .player-name-boost .boost {
  text-align: left;
}

.box.orange .player-name-boost {
  flex-direction: row-reverse;
}

.player-name-boost .is-boosting {
  text-shadow: 0 0 1px #fffa, 0 0 3px #fffa, 0 0 5px #fffa;
}
