.boost {
  @apply absolute bottom-8 right-8;
  width: 240px;
  height: 240px;
}

.center {
  @apply absolute inset-0 flex items-center justify-center;
}

.text {
  font-size: 48px;
  font-family: JetBrains MonoVariable;
  text-shadow: 0 0 3px #000a, 0 0 3px #000a, 0 0 4px #000a, 0 0 6px #000a;
}
