.overlay {
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.overlay.info-view {
  outline: solid black 5px;
  background-color: #3c4043;
  width: 90vw;
  height: 90vh;
}

.overlay {
  transition-duration: 300ms;
}
