.beta {
  @apply absolute bottom-4 left-4;
  height: 180px;
  width: 240px;
  text-shadow: 0 0 3px #000a, 0 0 3px #000a, 0 0 4px #000a, 0 0 6px #000a;
}

.beta .text {
  font-family: JetBrains MonoVariable;
  font-size: 16px;
  @apply mt-1 text-center;
}
